<h2>View 2</h2>
<form ng-submit="ctrl.add()">  
  <div class="input-group">    
      <input type="text" class="form-control" placeholder="Ingrese un label" ng-model="ctrl.label" required>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-plus"></span> Agregar
        </button>
      </span>
  </div><!-- /input-group -->
</form>

<br>

<div class="alert alert-info" role="alert" ng-repeat="tag in ctrl.labels track by $index">
  {{tag}}
  <button type="button" class="close" aria-label="Close" ng-click="ctrl.remove($index)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>